        /* Begin Body Style */
        
        body {
            background-image: url(../images/8.jpg);
            background-size: cover;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        /* End Body Style */
        /* Begin Login Form Style*/
        
        .login-form h3 {
            margin: auto auto;
            margin-bottom: 5px;
            color: tomato;
            font-size: 35px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        
        .login-form {
            width: 300px;
            margin: 200px auto;
        }
        
        .login-form input {
            margin-bottom: 10px;
        }
        
        .login-form .btn-warning {
            width: 100%;
        }
        /* End Login Form Style*/